<mat-card>
  <mat-card-header>
    <mat-card-title>Reset password</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="passresetForm" (ngSubmit)="passresetForm.valid && onResetSubmit()" novalidate>
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input id="email" matInput formControlName="email" placeholder="Enter your email" />
        <mat-error *ngIf="f.email.invalid">
          Please enter a <strong>valid</strong> email!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input id="token" matInput formControlName="token" placeholder="Enter your reset code"/>
        <mat-error *ngIf="f.token.invalid">
          The code that you entered is not correct!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input id="password" matInput formControlName="password" placeholder="Enter your new password"
          [type]="hide ? 'password':'text'" />
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="f.password.invalid">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input id="password_confirmation" matInput formControlName="password_confirmation"
          placeholder="Confirm your password" [type]="hide ? 'password':'text'" />
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="f.password_confirmation.invalid">
          Confirmed password doesn't match.
        </mat-error>
      </mat-form-field>

      <button mat-button type="submit" class="mat-raised-button mat-primary" (click)="onResetSubmit($event)"
        [disabled]="!passresetForm.valid">Save <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      </button>
     </form>
  </mat-card-content>
</mat-card>
