<section id="productSection">
  <h1>Alle producten</h1>
  <h2>Vind een product</h2>
  <input type="search" value="Zoek per naam" (input)="searchByName($event)">
  <select id="autocomplete">
    <option *ngFor="let auto of autocomplete" value="{{auto.name}}">{{auto.name}}</option>
  </select>
  <select id="filterProducts" (change)="filterProduct($event)">
    <option value="" disabled selected hidden>Filter per categorie</option>
    <option *ngFor="let categorie of categories" value="{{categorie.id}}">{{categorie.name}}</option>
  </select>
  <div *ngFor="let product of products" class="productView">
    <figure>
      <img src="http://dine.test/img/{{product.image}}" alt="image for {{ product.name }}">
      <figcaption>
          <p>{{ product.name }}</p>
          <p>{{ product.price }}</p>
          <input type="number" step="1" value="0">
          <mat-icon>shopping_basket</mat-icon>
      </figcaption>
    </figure>
  </div>
  <mat-paginator id="paginator" [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent($event)">
</mat-paginator>
</section>
