#productSection {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;

  div.productView {
    max-width: 400px;
    display: block;
    padding: 1em;
    border-top: 2px solid #333;

    &:nth-child(odd) {
      background: #DDD;
    }
  }

}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h1,
h2 {
  width: 100%;
  padding: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  padding-top: 0;
}

figure {
  margin: 0;

  img {
    width: 100%;
  }
}

ul {
  list-style: none;
}

figcaption {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;

  p {
    display: block;
    width: 49%;
  }

  p:nth-of-type(2) {
    text-align: right
  }

  input[type=number] {
    text-align: right;
    width: 4rem;
    &::-webkit-inner-spin-button{
      opacity:1; // show arrows
    }
  }
}

mat-icon {
  cursor: pointer;
}

.expansionArrow {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type=search],
select#filterProducts {
  width: 100%;
  padding: 1rem;
  background: #fafafa;
  border: none;
  border-bottom: 1px solid #333;
}

select#filterProducts {
  margin: 1em 0;
}

select#autocompleteList {
  width: 100%;
}

select#autocompleteList option {
  width: 90vw;
  padding: .5em 1em;
}

select#autocompleteList option:nth-child(even) {
  background: #EEE;
}

mat-paginator {
  width: 100%;
  background: #333;
  color: #FFF;
}

::ng-deep .mat-select-arrow, ::ng-deep .mat-paginator-icon, ::ng-deep .mat-select-value {
  color: rgba($color: #FFF, $alpha: 1.0);
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #FFF;
}

@media screen and (min-width : 768px) {
  div.productView {
    margin: 1em;
    border: 2px solid #333;
  }
}
