<section id="productSection">
  <h1>Alle producten</h1>
  <h2>Vind een product</h2>
  <input type="search" placeholder="Zoek per naam" (input)="autocomplete($event)" [(ngModel)]="searchInput" (keydown)="searchByName($event)">
  <select id="autocompleteList" size="3" [hidden]="!showSearchProductList" [(ngModel)]="searchInput" (change)=searchByName($event)>
    <option *ngFor="let auto of autocompleteList" value="{{auto.name}}">{{auto.name}}</option>
  </select>
  <select id="filterProducts" (change)="filterProduct($event)">
    <option value="" disabled selected hidden>Filter per categorie</option>
    <option value="0">Alle categorieën</option>
    <option *ngFor="let categorie of categories" value="{{categorie.id}}">{{categorie.name}}</option>
  </select>
  <div *ngFor="let product of products" class="productView">
    <figure>
      <img src="http://dine.test/img/{{product.image}}" alt="image for {{ product.name }}">
      <figcaption>
          <p>{{ product.name }}</p>
          <p>{{ product.price|currency:'eur' }}</p>
          <input (change)="quantityChanged()" type="number" step="1" value="0" min="0">
          <mat-icon (click)="addToShoppingCart($event, product)">shopping_cart</mat-icon>
      </figcaption>
    </figure>
  </div>
  <mat-paginator id="paginator" [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent($event)">
</mat-paginator>
</section>
