<div id="navBar">
    <mat-icon id="bars" class="material-icons">menu</mat-icon>
    <span [hidden]="isMobile">
      <a href="#" title="Klik hier om in te loggen">login</a>
      <a href="#" title="Klik hier om te registreren">register</a>
    </span>
    <span id="shoppingCart"><mat-icon>shopping_basket</mat-icon><p>({{numberItemsCart}})</p></span>
</div>
<div id="headerImage">
  <a href="#" title="Naar de bakkerij">
    <div id="bakeryImage">
      <p>Bakkerij</p>
    </div>
  </a>
  <a href="#" title="Naar de tea house">
    <div id="teaHouseImage">
      <p>tea house</p>
    </div>
  </a>
</div>

