<div class="container">
  <h1>About us</h1>
  <h3>What is Dine and who are the people behind the name</h3>

  <mat-card>
     <mat-card-header>
       <mat-card-title>Dine</mat-card-title>
       <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt vero porro perspiciatis vel voluptatum, hic numquam totam cum id consectetur harum aperiam, provident adipisci incidunt nulla quia voluptates quos consequatur.</mat-card-subtitle>
     </mat-card-header>
      <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui vel incidunt distinctio est minus magnam, assumenda aut sed, ducimus eum ut repudiandae eius deserunt non aspernatur accusamus dicta corporis voluptate.
        </p>
      </mat-card-content>
  </mat-card>

  <mat-card>
     <mat-card-header>
       <mat-card-title>Open for sugestions</mat-card-title>
     </mat-card-header>
     <mat-card-content>
       <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui vel incidunt distinctio est minus magnam,
         assumenda aut sed, ducimus eum ut repudiandae eius deserunt non aspernatur accusamus dicta corporis voluptate.
       </p>
     </mat-card-content>
  </mat-card>

  <mat-card>
     <mat-card-header>
       <mat-card-title>Waiting for Nena</mat-card-title>
     </mat-card-header>
     <mat-card-content>
       <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui vel incidunt distinctio est minus magnam,
         assumenda aut sed, ducimus eum ut repudiandae eius deserunt non aspernatur accusamus dicta corporis voluptate.
       </p>
     </mat-card-content>
  </mat-card>

  <mat-card>
     <mat-card-header>
       <mat-card-title>To give us something to work with</mat-card-title>
     </mat-card-header>
     <mat-card-content>
       <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui vel incidunt distinctio est minus magnam,
         assumenda aut sed, ducimus eum ut repudiandae eius deserunt non aspernatur accusamus dicta corporis voluptate.
       </p>
     </mat-card-content>
  </mat-card>
</div>
