<div class="container">
  <h1>About us</h1>
  <h3>What is Diné and who are the people behind the name</h3>

  <mat-card>
     <mat-card-header>
       <mat-card-title>Diné</mat-card-title>
       <mat-card-subtitle>
         <p>The idea, and how we got to this point in our history</p>
       </mat-card-subtitle>
     </mat-card-header>
      <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          Het idee om een bakkerij te openen ontstond niet lang nadat we verhuisd waren naar Antwerpen.
          We misten al snel het lekkere verse brood in de ochtend of een heerlijke koffiekoek op zondag. We
          zagen onze kans om hier verandering in te brengen en zo ontstond het idee om een bakkerijtje te
          openen in de buurt.
        </p>
        <p> Met veel passie zijn we gestart aan het uitbouwen van de bakkerij.</p>
        <p> De naam
          Diné vloeide voort uit het samen nemen van onze namen Dimi en Nena. Op 25 februari 2018
          mochten we onze eerste klanten in bakkerij Diné verwelkomen.
        </p>
        <p> Ons hoofddoel: het beste aan de klant brengen. Kwaliteit staat dan ook centraal. Elke dag staan we
          met passie en liefde klaar om de kwaliteitvolle producten aan onze klanten te verkopen.
          Na een jaartje begon het terug te kriebelen. Onze grote droom om een theehuisje te openen kwam
          terug meer en meer naar boven. Dus besloten we om de bakkerij om te toveren tot een gezellige
          bakkerij-teahouse.
        </p>
        <p> Een droom die met succes waarheid werd. Nu staan we elke dag klaar om haar
          klanten te voorzien van lekkers voor thuis of hier bij Diné.
        </p>
      </mat-card-content>
  </mat-card>

  <mat-card>
     <mat-card-header>
       <mat-card-title>Waiting for Nena</mat-card-title>
     </mat-card-header>
     <mat-card-content>
       <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui vel incidunt distinctio est minus magnam,
         assumenda aut sed, ducimus eum ut repudiandae eius deserunt non aspernatur accusamus dicta corporis voluptate.
       </p>
     </mat-card-content>
  </mat-card>

  <mat-card>
     <mat-card-header>
       <mat-card-title>To give us something to work with</mat-card-title>
     </mat-card-header>
     <mat-card-content>
       <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui vel incidunt distinctio est minus magnam,
         assumenda aut sed, ducimus eum ut repudiandae eius deserunt non aspernatur accusamus dicta corporis voluptate.
       </p>
     </mat-card-content>
  </mat-card>
</div>
