<div class="container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <form>
          <ng-template matStepLabel>Bestelling</ng-template>
          <h3>Bestelling</h3>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Bestel optijd</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ol>
                  <li>Bestellingen voor de volgende dag, graag voor 15u bestellen.</li>
                  <li>Grote bestellingen graag 3 dagen op voorhand bestellen.</li>
                </ol>
              </mat-card-content>
            </mat-card>
            <h4>Winkelwagentje</h4>
            <span>
              {{ itemsInShoppingCart }} {{ itemsInShoppingCart <= 1? 'artikel' : 'artikelen' }} -
              <a routerLink="/cart" style="color:red;">Wijzigen</a>
            </span>
            <span class="flexSpaceBetween"><p>Totaal artikelen ({{itemsInShoppingCart}})</p><p class="bold">{{totalPrice|currency:'eur'}}</p></span>
            <mat-divider></mat-divider>
            <span class="flexSpaceBetween"><p>Te betalen</p><p class="bold">{{totalPrice|currency:'eur'}}</p></span>

            <button mat-raised-button [color]="color" class="bigbutton stepper" matStepperNext>Volgende</button>
        </form>
      </mat-step>
      <mat-step [stepControl]="dateTimeFormGroup">
        <form [formGroup]="dateTimeFormGroup">
          <ng-template matStepLabel>Ophaaldatum</ng-template>
          <h3>Kies je ophaalmoment</h3>
          <mat-form-field class="fourtypercent" appearance="outline">
            <mat-label>Ophaaldag</mat-label>
            <input [min]="minDate" matInput [matDatepicker]="picker" placeholder="Ophaaldag" formControlName="orderDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" touchUi #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="fourtypercent" appearance="outline">
            <mat-label>Ophaaluur</mat-label>
            <input matInput type="time" placeholder="Ophaaluur" formControlName="orderTime" required>
          </mat-form-field>
          <div class="stepper">
            <button mat-raised-button [color]="color" class="bigbutton" matStepperNext>Next</button>
            <button mat-raised-button [color]="color" class="bigbutton" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Bevestiging</ng-template>
        <mat-card>
            <mat-card-header>
              <!-- <mat-card-title></mat-card-title> -->
            </mat-card-header>

            <mat-card-content>
              U hebt gekozen om uw bestelling op te halen op: {{date}} om {{time}} uur.
            </mat-card-content>
          </mat-card>
        <div>
          <button mat-raised-button [color]="color" (click)="orderSubmit()" class="bigbutton">Bestelling verzenden</button>
          <button mat-raised-button [color]="color" class="bigbutton" matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</div>
