<section id="shoppingCart">
  <div id="cartList">
    <h1>Jow winkelmand ({{itemsInShoppingCart}})</h1>
    <p *ngIf="itemsInShoppingCart == 0" style="text-align: center">Je hebt nog geen producten in je winkelmand.</p>
    <ul>
      <li *ngFor="let cartItem of shoppingCartList">
        <figure>
          <div>
            <img src="http://dine.test/img/{{cartItem.product.image}}">
          </div>
          <figcaption>
            <h3>{{ cartItem.product.name }}</h3>
            <div class="productCounter">
              <mat-icon (click)="counter('min', cartItem)">indeterminate_check_box</mat-icon>
              <p>{{ cartItem.quantity }}</p>
              <mat-icon (click)="counter('plus', cartItem)">add_box</mat-icon>
            </div>
            <div class="prices">
              <p class="price">
                {{ cartItem.quantity }}
                x
                {{ cartItem.product.price|currency:'eur' }}
              </p>
              <p class="totalPrice">
                  {{ cartItem.totalPrice|currency:'eur' }}
              </p>
            </div>
            <mat-icon (click)="removeItem(cartItem)" class="clear">clear</mat-icon>
          </figcaption>
        </figure>
      </li>
    </ul>
    <div>
      <button mat-raised-button [color]="color" routerLink="/products" class="bigbutton">Verder winkelen</button>
    </div>
  </div>
  <div id="checkout">
    <div>
      <span>
        <p>Totaal</p>
        <p>{{itemsInShoppingCart}} product(en)</p>
      </span>
      <p class="totalAmount">{{totalAmount|currency:'eur'}}</p>
    </div>
    <button mat-raised-button [color]="color" (click)="goToCheckout()" [routerLink]="itemsInShoppingCart < 1? '/products' : '/checkout'" class="bigbutton">Betalen</button>
  </div>

</section>

