// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidenav {
  width: 40vw;
  // min-width: 80px;
  // 768px window width and more
  @include md {
    width: 15vw;
  }
}

.side-menu {
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.brand {
  margin-left: 2em;
  cursor: pointer;
  outline: none;
}

.container .mat-drawer .mat-icon {
  display: block;
  font-size: 2.5em;
  // margin-top: 1.2em;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 90%;
}

.container .mat-drawer .mat-divider {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  width: 90%;
}

.power_icon:hover {
  color: rgb(63, 81, 181);
  cursor: pointer;
}

.shopping_icon {
  cursor: pointer;
  outline: none;
}

// ::ng-deep .mat-menu-panel {
//   max-width: 100% !important;
//   max-height: 100% !important;
//   border-radius: 0px !important;
// }

// ::ng-deep .cdk-overlay-pane {
//   width: 85vw !important;
//   right: 0 !important;
// }

// ::ng-deep .mat-menu-content:not(:empty) {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
// }



h3 {
  display: block;
  margin: .5em 1.5em;
}

.spacer {
  flex: 1 1 auto;
}

.toolbarlogo {
  height: 100%;
  margin-left: 3em;
}

ol { padding-right: 1rem; }
