* { box-sizing: border-box; }
body {
    font: 500 100%/1.4em Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

main {
    padding: 2em;
    background: #f1f1f1;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    display: block;
    padding: 1em 1.5em;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #000;
}

.active {
    background: #F1F1F1;
}

.not-active {
    background: #BBB;
    box-shadow: inset 0 -8px 4px -4px gray;
}

.active a {
    color: blue;
}

ul {
    list-style: none;
}

div.message {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
    font-size: 1.4em;
    color: #FFF;
    background-color: rgba(0, 200, 50, .8);
}

.closebtn {
    font-size: 2.5em;
    cursor: pointer;
 }

 /* ------------------------ admin edit ---------------------------- */

 #productSection {
     display: flex;
     justify-content: space-around;
     flex-flow: wrap;
     margin: 0 auto;
 }

 .productView {
     display: flex;
 }

