<div class="container">
    <h1>Contact page</h1>
  <mat-card>
    <mat-card-header>
       <mat-card-title>We are open between these hours</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="opening-hours-table">
        <tr id="Monday" class="openingHours" title="Open Monday at 9am to 6pm">
          <td>Monday</td>
          <td class="opens">07:15</td>
          <td>-</td>
          <td class="closes">18:00</td>
        </tr>
        <tr id="Tuesday" class="openingHours" title="Open Tuesday at 9am to 6pm">
          <td>Tuesday</td>
          <td class="opens">07:15</td>
          <td>-</td>
          <td class="closes">18:00</td>
        </tr>
        <tr id="Wednesday" class="openingHours" title="Open Wednesday at 9am to 6pm">
          <td>Wednesday</td>
          <td class="opens">Closed</td>
        </tr>
        <tr id="Thursday" class="openingHours" title="Open Thursday at 9am to 8pm">
          <td>Thursday</td>
          <td class="opens">07:15</td>
          <td>-</td>
          <td class="closes">18:00</td>
        </tr>
        <tr id="Friday" class="openingHours" title="Open Friday at 9am to 6pm">
          <td>Friday</td>
          <td class="opens">07:15</td>
          <td>-</td>
          <td class="closes">18:00</td>
        </tr>
        <tr id="Saturday" class="openingHours" title="Open Saturday at 10am to 6pm">
          <td>Saturday</td>
          <td class="opens">08:00</td>
          <td>-</td>
          <td class="closes">15:00</td>
        </tr>
        <tr id="Sunday" class="openingHours" title="Open Sunday at 11am to 4pm">
          <td>Sunday</td>
          <td class="opens">08:00</td>
          <td>-</td>
          <td class="closes">15:00</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>Here is where wyou can find us: Kaasbrug 2, 2000 Antwerpen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9994.738095115295!2d4.404797000000001!3d51.224887!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3f6582b14cd4b%3A0x19634bd549137260!2sKaasbrug+2%2C+2000+Antwerpen!5e0!3m2!1sen!2sbe!4v1560337842298!5m2!1sen!2sbe"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>


  <mat-card class="message">
    <mat-card-header>
      <mat-card-title>Leave us a message</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="messageForm" (ngSubmit)="messageForm.valid && onMessageSubmit()" novalidate>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input id="email" matInput formControlName="email" placeholder="Enter your email" />
          <mat-error *ngIf="f.email.hasError('required')">
            Email is <strong>required</strong> !
          </mat-error>
          <mat-error *ngIf="f.email.hasError('pattern')">
            Please enter a <strong>valid</strong> email!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea id="message" matInput formControlName="message" placeholder="Write us a message"></textarea>
          <mat-error *ngIf="f.message.hasError('minlength')">
            Message must be at least <strong>8</strong> characters long!
          </mat-error>
          <mat-error *ngIf="f.message.hasError('maxlength')">
            Message cannot be longer than <strong>140 characters</strong> !
          </mat-error>
        </mat-form-field>

        <div>
        <button mat-raised-button [color]="color" type="submit" (click)="onMessageSubmit($event)"
          [disabled]="!messageForm.valid">Send Message <mat-progress-bar mode="indeterminate" *ngIf="loading">
          </mat-progress-bar>
        </button>
        <!-- <img *ngIf="loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
        </div>
      </form>
    </mat-card-content>
  </mat-card>


</div>
