<div class="container">
    <h1>Contact page</h1>
  <mat-card>
    <mat-card-header>
       <mat-card-title>Wij zijn open op:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="opening-hours-table">
        <tr id="Monday" class="openingHours" title="Open Monday at 7:15 to 18:00">
          <td>Maandag</td>
          <td class="opens">07u15</td>
          <td>-</td>
          <td class="closes">18u00</td>
        </tr>
        <tr id="Tuesday" class="openingHours" title="Open Tuesday at 7:15 to 18:00">
          <td>Dinsdag</td>
          <td class="opens">07u15</td>
          <td>-</td>
          <td class="closes">18u00</td>
        </tr>
        <tr id="Wednesday" class="openingHours" title="Closed on Wednesday">
          <td>Woensdag</td>
          <td class="opens">Gesloten</td>
        </tr>
        <tr id="Thursday" class="openingHours" title="Open Thursday at 7:15 to 18:00">
          <td>Donderdag</td>
          <td class="opens">07u15</td>
          <td>-</td>
          <td class="closes">18u00</td>
        </tr>
        <tr id="Friday" class="openingHours" title="Open Friday at 7:15 to 18:00">
          <td>Vrijdag</td>
          <td class="opens">07u15</td>
          <td>-</td>
          <td class="closes">18u00</td>
        </tr>
        <tr id="Saturday" class="openingHours" title="Open Saturday at 8:00 to 15:00">
          <td>Zaterdag</td>
          <td class="opens">08u00</td>
          <td>-</td>
          <td class="closes">15u00</td>
        </tr>
        <tr id="Sunday" class="openingHours" title="Open Sunday at 8:00 to 15:00">
          <td>Zondag</td>
          <td class="opens">08u00</td>
          <td>-</td>
          <td class="closes">15u00</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>Here is where you can find us: Kaasbrug 2, 2000 Antwerpen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9994.738095115295!2d4.404797000000001!3d51.224887!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3f6582b14cd4b%3A0x19634bd549137260!2sKaasbrug+2%2C+2000+Antwerpen!5e0!3m2!1sen!2sbe!4v1560337842298!5m2!1sen!2sbe"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>


  <mat-card class="message">
    <mat-card-header>
      <mat-card-title>Stuur ons een bericht:</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="messageForm" (ngSubmit)="messageForm.valid && onMessageSubmit()" novalidate>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input id="email" matInput formControlName="email" placeholder="Enter your email" />
          <mat-error *ngIf="f.email.hasError('required')">
            E-mail is <strong>verplicht</strong> !
          </mat-error>
          <mat-error *ngIf="f.email.hasError('pattern')">
            Vul alstublieft een <strong>geldig</strong> e-mailadres in!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea id="message" matInput formControlName="message" placeholder="Write us a message"></textarea>
          <mat-error *ngIf="f.message.hasError('required')">
            Bericht is <strong>verplicht</strong> !
          </mat-error>
          <mat-error *ngIf="f.message.hasError('minlength')">
            Het bericht moet minstens <strong>8</strong> karakters lang zijn.
          </mat-error>
          <mat-error *ngIf="f.message.hasError('maxlength')">
            Het bericht moet niet langer zijn dan <strong>140</strong> karakters!
          </mat-error>
        </mat-form-field>

        <div>
        <button mat-raised-button [color]="color" type="submit" (click)="onMessageSubmit($event)"
          [disabled]="!messageForm.valid">Bericht verzenden <mat-progress-bar mode="indeterminate" *ngIf="loading">
          </mat-progress-bar>
        </button>
        <!-- <img *ngIf="loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
        </div>
      </form>
    </mat-card-content>
  </mat-card>


</div>
